@{
    ViewBag.Title = "Contact";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Contact Us</h2>
        <br /><br />
    </div>
    <br /><br />
    <div class="panel-body">
        <img src="../../content/image/contacts-150x150.png" class="img-responsive image" align="left" />
        <p>Please contact us if you have any questions:</p>
        <p>Tel: 419-450-9029</p>
        <p>Email: toledochineseschool@gmail.com</p>
        <p>Mail: Chinese Center of Toledo, P.O. BOX 350445 Toledo, Ohio 43635</p>
        <p>Web: http://chinesecenteroftoledo.org/ </p>
        <p>Follow US on Facebook</p>
        <p><a href="https://www.facebook.com/toledochineseschool/?ref=bookmarks"><img class=" image img-responsive" align="left" src="~/content/image/download-200x70.png"  /></a></p>
    </div>
</div>