
@{
    ViewBag.Title = "Index";
}
<div class="panel  panel-default">
    <div class="panel-heading">
        <h2>Home</h2>
    </div>


    <div class="panel-body text-primary">
        <img src="../../content/image/logo.png" class="img-responsive image" align="left" />
        <p class="text-success " style="font-size:20px">
            Toledo Chinese School was founded in the 1970s. It was housed in the Chinese Alliance Church and had beToledo Chinese School Signen sponsored by the parents, Chinese Church, and Chinese community. In the year 2007, the Toledo Chinese School registered as Chinese Center of Toledo (CCT), a Federal 501(c)(3) non-profit organization, moved from Chinese Alliance Church to Maumee Valley Country Day School. This move improved the overall educational environment in the prestigious location, with professional teaching facilities for use by parents and students. CCT currently has nearly 100 students, 8 board members, and 12 faculty and staff members.
            CCT is the only institution in Toledo offering all levels of Chinese language classes for heritage families and English-speaking families, from 3 years old and up. We offer playgroups, Chinese language classes for heritage families as well as Chinese as a second language class for non-heritage families. Classes meet Saturday noon from 12:00-2:00 p.m.
            Email address: toledochineseschool@gmail.com
        </p>
    </div>
</div>