
@{
    ViewBag.Title = "Mission";
}

<div class="panel  panel-default container">
    <div class="panel-heading">
        <h2>MISSION AND BELIEF STATEMENTS</h2>
    </div>


    <div class="panel-body text-primary">
        <br/>
        <br/>
        <div class="col-lg-offset-5"><img src="../../content/image/mission.jpg" class="img-responsive image" align="middle" /></div>
        <br/>
        <br/>
        <p class="text-success " style="font-size:30px">
            The purpose of this Center shall be exclusively educational and charitable within the meaning of section 501(c)(3) of the Internal Revenue Code, and the Ohio Revised Code Chapter 1702: Nonprofit Corporation Law. The Center’s purpose includes, but is not limited to:
        </p> 
        <ul >
            <li class="text-success " style="font-size:30px">Studying the Chinese language.</li>
            <li class="text-success " style="font-size:30px">Promoting the understanding of Chinese culture.</li>
            <li class="text-success " style="font-size:30px">Providing a network of support among individuals or organizations having a common interest in the Chinese cultural heritage.</li>
        </ul>
        <p>

        </p>
        
    </div>
</div>