
@{
    ViewBag.Title = "Seal";
}

<div class="panel container panel-default">
    <div class="panel-heading">
        <h2>Ohio Seal of Biliteracy</h2>
    </div>
    <div class="panel-body text-primary">
        <div class="col-md-offset-4">
            <img src="~/Content/image/seal.png" class="img-responsive img-circle" />
        </div>
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/43aSTe2UBW8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h2>What is a Seal of Biliteracy?</h2>
            <p class="text-success " style="font-size:20px">
                
                A Seal of Biliteracy recognizes graduating seniors who can demonstrate high levels of proficiency in English and at least one other language. A school or district gives this award by following state-established guidelines.
                </p><p class="text-success " style="font-size:20px">
    For more information about the Seal of Biliteracy, please visit <a href="http://education.ohio.gov/Topics/Learning-in-Ohio/Foreign-Language/Ohio-Seal-of-Biliteracy">ohio department of education</a> 
</p> 
        </div>
    </div>
</div>

