@{
    ViewBag.Title = "Confirmation Email Sent";
}

<div class="panel panel-primary">

    <h2>Comfirmation Email Sent</h2>
    <p>Please Check your email account for conformation email.</p>
</div>


