
@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0041)/mission/ -->
<html lang="en-US" style="background-attachment: scroll;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="/xmlrpc.php">
    <title>Mission and Belief Statements</title>
    <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="http://s.w.org/">
    <link rel="alternate" type="application/rss+xml" title=" » Feed" href="/feed/">
    <link rel="alternate" type="application/rss+xml" title=" » Comments Feed" href="/comments/feed/">
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/chinesecenteroftoledo.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.7"}};
			!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b!==c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <script src="/WebContent/Mission and Belief Statements_files/wp-emoji-release.min.js.download" type="text/javascript" defer=""></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="animate-css" href="/WebContent/Mission and Belief Statements_files/animate.css" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="/WebContent/Mission and Belief Statements_files/font-awesome.css" type="text/css" media="all">
    <link rel="stylesheet" id="owl-carousel-css" href="/WebContent/Mission and Belief Statements_files/owl.carousel.css" type="text/css" media="all">
    <link rel="stylesheet" id="nivo-lightbox-css" href="/WebContent/Mission and Belief Statements_files/nivo-lightbox.css" type="text/css" media="all">
    <link rel="stylesheet" id="superfish-css" href="/WebContent/Mission and Belief Statements_files/superfish.css" type="text/css" media="all">
    <link rel="stylesheet" id="total-style-css" href="/WebContent/Mission and Belief Statements_files/style.css" type="text/css" media="all">
    <style id="total-style-inline-css" type="text/css">
button,input[type='button'],input[type='reset'],input[type='submit'],.widget-area .widget-title:after,h3#reply-title:after,h3.comments-title:after,.nav-previous a,.nav-next a,.pagination .page-numbers,.ht-main-navigation li:hover > a,.page-template-home-template .ht-main-navigation li:hover > a,.home.blog .ht-main-navigation li:hover > a,.ht-main-navigation .current_page_item > a,.ht-main-navigation .current-menu-item > a,.ht-main-navigation .current_page_ancestor > a,.page-template-home-template .ht-main-navigation .current > a,.home.blog .ht-main-navigation .current > a,.ht-slide-cap-title span,.ht-progress-bar-length,#ht-featured-post-section,.ht-featured-icon,.ht-service-post-wrap:after,.ht-service-icon,.ht-team-social-id a,.ht-counter:after,.ht-counter:before,.ht-testimonial-wrap .owl-carousel .owl-nav .owl-prev,.ht-testimonial-wrap .owl-carousel .owl-nav .owl-next,.ht-blog-read-more a,.ht-cta-buttons a.ht-cta-button1,.ht-cta-buttons a.ht-cta-button2:hover,#ht-back-top:hover,.entry-readmore a,.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce ul.products li.product:hover .button,.woocommerce #respond input#submit.alt,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce nav.woocommerce-pagination ul li a,.woocommerce nav.woocommerce-pagination ul li span,.woocommerce span.onsale,.woocommerce div.product .woocommerce-tabs ul.tabs li.active,.woocommerce #respond input#submit.disabled,.woocommerce #respond input#submit:disabled,.woocommerce #respond input#submit:disabled[disabled],.woocommerce a.button.disabled,.woocommerce a.button:disabled,.woocommerce a.button:disabled[disabled],.woocommerce button.button.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.woocommerce input.button.disabled,.woocommerce input.button:disabled,.woocommerce input.button:disabled[disabled],.woocommerce #respond input#submit.alt.disabled,.woocommerce #respond input#submit.alt.disabled:hover,.woocommerce #respond input#submit.alt:disabled,.woocommerce #respond input#submit.alt:disabled:hover,.woocommerce #respond input#submit.alt:disabled[disabled],.woocommerce #respond input#submit.alt:disabled[disabled]:hover,.woocommerce a.button.alt.disabled,.woocommerce a.button.alt.disabled:hover,.woocommerce a.button.alt:disabled,.woocommerce a.button.alt:disabled:hover,.woocommerce a.button.alt:disabled[disabled],.woocommerce a.button.alt:disabled[disabled]:hover,.woocommerce button.button.alt.disabled,.woocommerce button.button.alt.disabled:hover,.woocommerce button.button.alt:disabled,.woocommerce button.button.alt:disabled:hover,.woocommerce button.button.alt:disabled[disabled],.woocommerce button.button.alt:disabled[disabled]:hover,.woocommerce input.button.alt.disabled,.woocommerce input.button.alt.disabled:hover,.woocommerce input.button.alt:disabled,.woocommerce input.button.alt:disabled:hover,.woocommerce input.button.alt:disabled[disabled],.woocommerce input.button.alt:disabled[disabled]:hover,.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce-MyAccount-navigation-link a{background:#FFC107}
a,a:hover,.ht-post-info .entry-date span.ht-day,.entry-categories .fa,.widget-area a:hover,.comment-list a:hover,.no-comments,.ht-site-title a,.woocommerce .woocommerce-breadcrumb a:hover,#total-breadcrumbs a:hover,.ht-featured-link a,.ht-portfolio-cat-name-list .fa,.ht-portfolio-cat-name:hover,.ht-portfolio-cat-name.active,.ht-portfolio-caption a,.ht-team-detail,.ht-counter-icon,.woocommerce ul.products li.product .price,.woocommerce div.product p.price,.woocommerce div.product span.price,.woocommerce .product_meta a:hover,.woocommerce-error:before,.woocommerce-info:before,.woocommerce-message:before{color:#FFC107}
.ht-main-navigation ul ul,.ht-featured-link a,.ht-counter,.ht-testimonial-wrap .owl-item img,.ht-blog-post,#ht-colophon,.woocommerce ul.products li.product:hover,.woocommerce-page ul.products li.product:hover,.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce ul.products li.product:hover .button,.woocommerce #respond input#submit.alt,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce div.product .woocommerce-tabs ul.tabs,.woocommerce #respond input#submit.alt.disabled,.woocommerce #respond input#submit.alt.disabled:hover,.woocommerce #respond input#submit.alt:disabled,.woocommerce #respond input#submit.alt:disabled:hover,.woocommerce #respond input#submit.alt:disabled[disabled],.woocommerce #respond input#submit.alt:disabled[disabled]:hover,.woocommerce a.button.alt.disabled,.woocommerce a.button.alt.disabled:hover,.woocommerce a.button.alt:disabled,.woocommerce a.button.alt:disabled:hover,.woocommerce a.button.alt:disabled[disabled],.woocommerce a.button.alt:disabled[disabled]:hover,.woocommerce button.button.alt.disabled,.woocommerce button.button.alt.disabled:hover,.woocommerce button.button.alt:disabled,.woocommerce button.button.alt:disabled:hover,.woocommerce button.button.alt:disabled[disabled],.woocommerce button.button.alt:disabled[disabled]:hover,.woocommerce input.button.alt.disabled,.woocommerce input.button.alt.disabled:hover,.woocommerce input.button.alt:disabled,.woocommerce input.button.alt:disabled:hover,.woocommerce input.button.alt:disabled[disabled],.woocommerce input.button.alt:disabled[disabled]:hover,.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{border-color:#FFC107}
#ht-masthead,.woocommerce-error,.woocommerce-info,.woocommerce-message{border-top-color:#FFC107}
.nav-next a:after{border-left-color:#FFC107}
.nav-previous a:after{border-right-color:#FFC107}
.ht-active .ht-service-icon{box-shadow:0px 0px 0px 2px #FFF,0px 0px 0px 4px #FFC107}
.woocommerce ul.products li.product .onsale:after{border-color:transparent transparent #e6ae06 #e6ae06}
.woocommerce span.onsale:after{border-color:transparent #e6ae06 #e6ae06 transparent}
.ht-portfolio-caption,.ht-team-member-excerpt,.ht-title-wrap{background:rgba(255,193,7,0.9)}
@@media screen and (max-width:1000px){.toggle-bar,.ht-main-navigation .ht-menu{background:#FFC107}}
    </style>
    <link rel="stylesheet" id="total-fonts-css" href="/WebContent/Mission and Belief Statements_files/css" type="text/css" media="all">
    <link rel="stylesheet" id="tablepress-default-css" href="/WebContent/Mission and Belief Statements_files/default.min.css" type="text/css" media="all">
    <script type="text/javascript" src="/WebContent/Mission and Belief Statements_files/SmoothScroll.js.download"></script>
    <script type="text/javascript" src="/WebContent/Mission and Belief Statements_files/jquery.js.download"></script>
    <script type="text/javascript" src="/WebContent/Mission and Belief Statements_files/jquery-migrate.min.js.download"></script>
    <script type="text/javascript" src="/WebContent/Mission and Belief Statements_files/imagesloaded.min.js.download"></script>
    <script type="text/javascript" src="/WebContent/Mission and Belief Statements_files/jquery.stellar.js.download"></script>
    <link rel="https://api.w.org/" href="/wp-json/">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 4.8.7">
    <link rel="canonical" href="/mission/">
    <link rel="shortlink" href="/?p=12">
    <!-- Custom Logo: hide header text -->
    <style id="custom-logo-css" type="text/css">
        .ht-site-title, .ht-site-description {
            position: absolute;
            clip: rect(1px, 1px, 1px, 1px);
        }
    </style>
    <link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fchinesecenteroftoledo.org%2Fmission%2F">
    <link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fchinesecenteroftoledo.org%2Fmission%2F&amp;format=xml">
    <style>
        .ht-service-left-bg {
            background-image: url();
        }

        #ht-counter-section {
            background-image: url();
        }

        #ht-cta-section {
            background-image: url();
        }
    </style>
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-image: url("/wp-content/uploads/2018/09/BG.png");
            background-position: left top;
            background-size: auto;
            background-repeat: repeat;
            background-attachment: scroll;
        }
    </style>
    <link rel="icon" href="/wp-content/uploads/2018/09/cropped-cropped-Toledo-Chinese-School-Sign-275x300-32x32.png" sizes="32x32">
    <link rel="icon" href="/wp-content/uploads/2018/09/cropped-cropped-Toledo-Chinese-School-Sign-275x300-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="/wp-content/uploads/2018/09/cropped-cropped-Toledo-Chinese-School-Sign-275x300-180x180.png">
    <meta name="msapplication-TileImage" content="/wp-content/uploads/2018/09/cropped-cropped-Toledo-Chinese-School-Sign-275x300-270x270.png">
</head>
<body class="page-template-default page page-id-12 custom-background wp-custom-logo group-blog ht_no_sidebar ht-sticky-header columns-3" style="background-attachment: scroll;">
    <div id="ht-page">
        <header id="ht-masthead" class="ht-site-header">
            <div class="ht-container ht-clearfix">
                <div id="ht-site-branding">
                    <a href="/" class="custom-logo-link" rel="home" itemprop="url"><img width="272" height="300" src="/WebContent/Mission and Belief Statements_files/cropped-Toledo-Chinese-School-Sign-275x300.png" class="custom-logo" alt="" itemprop="logo"></a>
                </div><!-- .site-branding -->
                <nav id="ht-site-navigation" class="ht-main-navigation">
                    <div class="toggle-bar"><span></span></div>
                    <div class="ht-menu ht-clearfix">
                        <ul id="menu-navigation" class="ht-clearfix sf-js-enabled sf-arrows">
                            <li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-101"><a href="/">Home</a></li>
                            <li id="menu-item-99" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-99">
                                <a href="/curriculum/programs/" class="sf-with-ul">Our Programs</a>
                                <ul class="sub-menu" style="display: none;">
                                    <li id="menu-item-100" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-12 current_page_item menu-item-100"><a href="/mission/">Mission and Belief Statements</a></li>
                                    <li id="menu-item-1640" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1640"><a href="/ohio-seal-of-biliteracy/">Ohio Seal of Biliteracy</a></li>
                                    <li id="menu-item-98" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-98">
                                        <a href="/curriculum/" class="sf-with-ul">Chinese Language Classes</a>
                                        <ul class="sub-menu" style="display: none;">
                                            <li id="menu-item-1347" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1347"><a href="/cfl-1-%e6%95%99%e5%ad%a6%e5%a4%a7%e7%ba%b2/">CFL 1 教学大纲</a></li>
                                            <li id="menu-item-667" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-667"><a href="/lesson-plan-7/">CFL 2 教学大纲</a></li>
                                            <li id="menu-item-678" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-678"><a href="/01-k5-%e6%95%99%e5%ad%a6%e5%a4%a7%e7%ba%b2/">K5 教学大纲</a></li>
                                            <li id="menu-item-1349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1349"><a href="/c1-ab-%e6%95%99%e5%ad%a6%e5%a4%a7%e7%ba%b2/">C1 A/B 教学大纲</a></li>
                                            <li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131"><a title="Teacher: 余俊" href="/3-c1-%e6%95%99%e5%ad%a6%e5%a4%a7%e7%ba%b2/">C1 教学大纲</a></li>
                                            <li id="menu-item-144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-144"><a title="Teacher: 张宁" href="/c2-%e6%95%99%e5%ad%a6%e5%a4%a7%e7%ba%b2/">C2 教学大纲</a></li>
                                            <li id="menu-item-153" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153"><a title="Teacher: 张翠羽" href="/c3-%e6%95%99%e5%ad%a6%e5%a4%a7%e7%ba%b2/">C3 教学大纲</a></li>
                                            <li id="menu-item-201" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-201"><a title="Teacher: 古月" href="/c4-%e6%95%99%e5%ad%a6%e5%a4%a7%e7%ba%b2/">C4 教学大纲</a></li>
                                            <li id="menu-item-203" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-203"><a title="Teacher: 高杨 " href="/c5-%e6%95%99%e5%ad%a6%e5%a4%a7%e7%ba%b2/">C5 教学大纲</a></li>
                                            <li id="menu-item-665" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-665"><a href="/c6-%e6%95%99%e5%ad%a6%e5%a4%a7%e7%ba%b2/">C6 教学大纲</a></li>
                                            <li id="menu-item-1348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1348"><a href="/c7-%e6%95%99%e5%ad%a6%e5%a4%a7%e7%ba%b2/">C7 教学大纲</a></li>
                                            <li id="menu-item-207" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-207"><a title="Teacher: 林蘭琪老師" href="/ap-chinese-prep-class-%e6%95%99%e5%ad%a6%e5%a4%a7%e7%ba%b2/">AP Chinese Prep Class 教学大纲</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-806" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-806"><a href="/chinese-culture-classes/">Enrichment Clubs</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-97" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97"><a href="/calendar/">Calendar</a></li>
                            <li id="menu-item-112" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-112"><a title="CCT Connection" href="/category/cct-connection/">E-News</a></li>
                            <li id="menu-item-103" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-103">
                                <a class="sf-with-ul">Events</a>
                                <ul class="sub-menu" style="display: none;">
                                    <li id="menu-item-477" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-477"><a href="/2015-chinese-new-year-spring-festival-celebration/">2015 Chinese New Year Spring Festival Celebration</a></li>
                                    <li id="menu-item-313" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-313"><a href="/2014-halloween-party-2014-10-24/">2014 Halloween Party (2014-10-24)</a></li>
                                    <li id="menu-item-96" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96"><a href="/chinese-new-year-party/">Chinese New Year Party (2012-01-23)</a></li>
                                    <li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95"><a href="/events/traditional-chinese-painting-2011-12-09/">Traditional Chinese Painting (2011-12-09)</a></li>
                                    <li id="menu-item-94" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94"><a href="/events/calligraphy-demonstration-2011-11-18/">Calligraphy Demonstration (2011-11-18)</a></li>
                                    <li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a href="/events/chinese-new-year-2010/">Chinese New Year 2010</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-266" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-266"><a href="/board-faculty-and-staff/">Staff List</a></li>
                            <li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251"><a href="/registration/">Registration</a></li>
                            <li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-252"><a href="/contact/">Contact</a></li>
                            <li id="menu-item-781" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-781"><a href="/ways-to-give-%e6%8d%90%e6%ac%be/">Donate 捐款</a></li>
                        </ul>
                    </div>
                </nav><!-- #ht-site-navigation -->
            </div>
        </header><!-- #ht-masthead -->
        <div id="ht-content" class="ht-site-content ht-clearfix">
            <header class="ht-main-header">
                <div class="ht-container">
                    <h1 class="ht-main-title">Mission and Belief Statements</h1>		<nav role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb"><ul class="trail-items" itemscope="" itemtype="http://schema.org/BreadcrumbList"><meta name="numberOfItems" content="2"><meta name="itemListOrder" content="Ascending"><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="trail-item trail-begin"><a href="/" rel="home" itemprop="item"><span itemprop="name">Home</span></a><meta itemprop="position" content="1"></li><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="trail-item trail-end"><span itemprop="item"><span itemprop="name">Mission and Belief Statements</span></span><meta itemprop="position" content="2"></li></ul></nav>
                </div>
            </header><!-- .entry-header -->
            <div class="ht-container">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main">


                        <article id="post-12" class="post-12 page type-page status-publish">
                            <div class="page-content">
                                <p><a href="/wp-content/uploads/2013/09/2014-10-10-19.08.18.jpg"><img class="wp-image-333 aligncenter" src="/WebContent/Mission and Belief Statements_files/2014-10-10-19.08.18-300x225.jpg" alt="2014-10-10 19.08.18" width="303" height="227" srcset="/wp-content/uploads/2013/09/2014-10-10-19.08.18-300x225.jpg 300w, /wp-content/uploads/2013/09/2014-10-10-19.08.18-1024x768.jpg 1024w" sizes="(max-width: 303px) 100vw, 303px"></a></p>
                                <p>&nbsp;</p>
                                <p>The purpose of this Center shall be exclusively educational and charitable within the meaning of section 501(c)(3) of the Internal Revenue Code, and the Ohio Revised Code Chapter 1702: Nonprofit Corporation Law. The Center’s purpose includes, but is not limited to:</p>
                                <ul>
                                    <li>Studying the Chinese language.</li>
                                    <li>Promoting the understanding of Chinese culture.</li>
                                    <li>Providing a network of support among individuals or organizations having a common interest in the Chinese cultural heritage.</li>
                                </ul>
                                <p>多丽都中文学校老师们全程用90%目标语教学。授课老师们在教学时会使用大量图片, 手势辅助, 歌曲教学, 和多媒体等工具, 帮助我们学生达到对语言的理解跟语言的使用。学生习惯听汉语以后, 程度变好后, 吸收自然也变快。我们的老师们教学秉持以”学生为中心”的概念, 让学生有机会自己动手练习, 操作, 甚至担任班上小老师。老师们只是以从旁协助, 引导的角色来引导学生对华语/汉语的学习。</p>
                                <p>汉语作为外语的学生一旦准备好投入全沈浸式的中文学习，就可以从汉语外语班转至华语正规班。反之亦然，学生也可以选择继续留在外语班学习中文。</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p style="text-align: center;"><a href="/WebContent/Mission and Belief Statements_files/unnamed.png"><img class="alignnone size-full wp-image-1646" src="/WebContent/Mission and Belief Statements_files/unnamed.png" alt="" width="180" height="180" srcset="/wp-content/uploads/2013/09/unnamed.png 180w, /wp-content/uploads/2013/09/unnamed-150x150.png 150w, /wp-content/uploads/2013/09/unnamed-100x100.png 100w" sizes="(max-width: 180px) 100vw, 180px"></a></p>
                                <p style="text-align: center;"><strong>10-Year Learning Plan</strong></p>
                                <p style="text-align: center;"><strong>十年学习计划</strong></p>
                                <p>There are 10 levels of Chinese classes at Toledo Chinese School.&nbsp; We call it a “10-year Learning Plan”.&nbsp; Our goal&nbsp;and&nbsp;mission for our students is to get a FIVE out of Five on their AP Chinese Exam during their high school year.</p>
                                <p>多丽都中文学校的“<strong>十年学习计划</strong>”是为了预备我们的孩子到了高中阶段，都能在AP Chinese Exam (高级中文考试)得到五分满及分。</p>
                                <p>&nbsp;</p>
                                <p>To see past students who has received a “FIVE” on their AP Chinese Exam, please click “<a href="/ap-chinese-prep-class-%e6%95%99%e5%ad%a6%e5%a4%a7%e7%ba%b2/">HERE</a>“.</p>
                                <p>请点击“<a href="/ap-chinese-prep-class-%e6%95%99%e5%ad%a6%e5%a4%a7%e7%ba%b2/">高级中文考试风神榜</a>“察看历年考试五分得主。</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </div><!-- .entry-content -->

                        </article><!-- #post-## -->



                    </main><!-- #main -->
                </div><!-- #primary -->
            </div>

        </div><!-- #content -->
        <footer id="ht-colophon" class="ht-site-footer">

            <div id="ht-bottom-footer">
                <div class="ht-container">
                    <div class="ht-site-info">
                        WordPress Theme					<span class="sep"> | </span>
                        <a href="https://hashthemes.com/wordpress-theme/total/" target="_blank">Total</a> by Hash Themes
                    </div><!-- #site-info -->
                </div>
            </div>
        </footer><!-- #colophon -->
    </div><!-- #page -->
    <div id="ht-back-top" class="ht-hide"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
    <script type="text/javascript" src="/WebContent/Mission and Belief Statements_files/jquery.nav.js.download"></script>
    <script type="text/javascript" src="/WebContent/Mission and Belief Statements_files/owl.carousel.js.download"></script>
    <script type="text/javascript" src="/WebContent/Mission and Belief Statements_files/isotope.pkgd.js.download"></script>
    <script type="text/javascript" src="/WebContent/Mission and Belief Statements_files/nivo-lightbox.js.download"></script>
    <script type="text/javascript" src="/WebContent/Mission and Belief Statements_files/superfish.js.download"></script>
    <script type="text/javascript" src="/WebContent/Mission and Belief Statements_files/wow.js.download"></script>
    <script type="text/javascript" src="/WebContent/Mission and Belief Statements_files/odometer.js.download"></script>
    <script type="text/javascript" src="/WebContent/Mission and Belief Statements_files/waypoint.js.download"></script>
    <script type="text/javascript">
/* <![CDATA[ */
var total_localize = {"template_path":"http:\/\/chinesecenteroftoledo.org\/wp-content\/themes\/total"};
/* ]]> */
    </script>
    <script type="text/javascript" src="/WebContent/Mission and Belief Statements_files/total-custom.js.download"></script>
    <script type="text/javascript" src="/WebContent/Mission and Belief Statements_files/wp-embed.min.js.download"></script>

</body>
</html>